ellipsis()
  overflow:hidden
  white-space:nowrap
  text-overflow:ellipsis

boxstyle()
  width:1752px;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 8px 0px rgba(116,165,157,0.14);
  border-radius:8px;

button(bgcolor)
  display:inline-block
  width:140px
  line-height:40px
  text-align:center
  color:#fff
  background:bgcolor
  box-shadow:0px 1px 4px 0px bgcolor
  border-radius:4px
