// 颜色定义规范
$color-theme = #4ED0E4
$color-text = #333333
$color-text-l = #666666
$color-text-ll = #999999

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px